Variables
==========

First byte - opcode

In second byte
	First two bits - data type
		00 - int
		01 - float
		10 - boolean
		11 - object
		
	Third bit - sign

4 bytes - data



Keywords
==========

set

if
else
break

for
while
do

function
linear		do not branch
return

true
false
null

wait




Data types
==========

int
double
String

object